{% extends 'base.html' %} 
{% load static%}
{% block content %}
{% load bootstrap4 %}
{% load widget_tweaks %}
<div class="container mt-1 p-3 bg-secondary mb-3">
    <div class="row">
        <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="text-center">Add Product</h4>
                        </div>
                        <div class="card-body">
                            <div>

                                <!-- Security token -->
                                {% csrf_token %}
                        
                                <!-- Using the formset -->
                                {% for field in form.visible_fields %}
                                        <div class="form-group">
                                            <label for="{{ field.id_for_label }}" class="h5">{{ field.label }}</label>
                                            {% if field == form.esgotado %}
                                            {{ field }}
                                            {% else %}
                                            {{ field|add_class:'form-control' }}
                                            {% endif %}
                                        </div>
                                {% endfor %}
                            
            
                                <div class="mt-3">
                                    <button class="btn btn-primary float-right" onclick="submitForm()">submit</button>
                                </div>
                                <div class="w-100">
                                    <span id="message" class="text-success"></span>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
 
        <div class="col-md-8">
            <table class="table table-bordered text-white text-center">
                <thead>
                    <th>Produto</th>
                    <th>Categoria</th>
                </thead>
                <tbody id="tbData">
                    
                </tbody>
            </table>
        </div>
    </div>

</div>


<!-- 
<div class="container">
    <nav aria-label="Navegação de página exemplo">
        {% if produtos.has_other_pages %}
        <ul class="pagination justify-content-center">
          {% if produtos.has_previous %}
        	<li class="page-item"><a class="page-link" href="?page={{ produtos.previous_page_number }}">Anterior</a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link">Anterior</a></li>
          {% endif %} 

          {% for pagina in produtos.paginator.page_range %}
          {% if produtos.number == pagina %}
          <li class="page-item"><a class="page-link">{{ pagina }}</a></li>
          {% else %}
          <li class="page-item active"><a class="page-link" href="?page={{ pagina }}">{{ pagina }}</a></li>
          {% endif %}
          {% endfor %}

          {% if produtos.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ produtos.next_page_number }}">Próximo</a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" href="">Proximo</a></li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>
</div> -->


<script>
    let editFormData;

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    

    function editDataCall(id) {
        // call get user details by id API
        fetch(`http://127.0.0.1:8000/api/produtos/${id}`,{
            method:"GET"
        }).then((res)=>res.json()).then((response)=>{
            console.log("Edit info",response);
            editFormData =  response;
            setFormData(editFormData.nome_produto,editFormData.validade, editFormData.codigo_produto, editFormData.valor, editFormData.quantidade_estoque, editFormData.descricao, editFormData.categoria)
        })
    }
    

    function getFormData() {
        return {
            nome_produto:document.getElementById('id_nome_produto').value,
            validade: document.getElementById('id_validade').value,
            codigo_produto: document.getElementById('id_codigo_produto').value,
            valor: document.getElementById('id_valor').value,
            quantidade_estoque: document.getElementById('id_quantidade_estoque').value,
            descricao: document.getElementById('id_descricao').value,
            categoria: document.getElementById('id_categoria').value,
        }
    }

    function clearFormData() {
        document.getElementById('id_nome_produto').value = ""
        document.getElementById('id_validade').value = ""
        document.getElementById('id_codigo_produto').value = ""
        document.getElementById('id_valor').value = ""
        document.getElementById('id_quantidade_estoque').value = ""
        document.getElementById('id_descricao').value = ""
        document.getElementById('id_categoria').value = ""
    }

    function setFormData(nome_produto, validade, codigo_produto, valor, quantidade_estoque, descricao, categoria) {
        document.getElementById('id_nome_produto').value = nome_produto
        document.getElementById('id_validade').value = validade
        document.getElementById('id_codigo_produto').value = codigo_produto
        document.getElementById('id_valor').value = valor
        document.getElementById('id_quantidade_estoque').value = quantidade_estoque
        document.getElementById('id_descricao').value = descricao
        document.getElementById('id_categoria').value = categoria
    }

    function putData() {
        id = editFormData.id
        let payload = {};
        payload['nome_produto'] = document.getElementById('id_nome_produto').value;
        payload['validade'] = document.getElementById('id_validade').value;
        payload['codigo_produto'] = document.getElementById('id_codigo_produto').value;
        payload['valor'] = Number(document.getElementById('id_valor').value);
        payload['quantidade_estoque'] = document.getElementById('id_quantidade_estoque').value;
        payload['descricao'] = document.getElementById('id_descricao').value;
        payload['categoria'] = document.getElementById('id_categoria').value;
        payload['esgotado'] = document.getElementById('id_esgotado');
        let csrftoken = getCookie('csrftoken');
        
        if (payload['esgotado'].checked) {
            payload['esgotado'] = true;
        } else {
            payload['esgotado'] = false;
        }
    

        fetch(`http://127.0.0.1:8000/api/produtos/${id}/`, {
            method:"PATCH",
            credentials: "same-origin",
            headers:{
                "Content-Type":"application/json",
                "Accept": "application/json",
                "X-CSRFToken": csrftoken,
            },
            body:JSON.stringify(payload)
        }).then((res)=>res.json()).then((response)=> {
            clearFormData();

            getData();
        })
    }

    function submitForm() {
        if(!editFormData) addUser(); // if the editFormData is undefined then call addUser()
        else putData();
    }


    // Function for add new product
    function addUser() {
        let payload = {};
        payload['nome_produto'] = document.getElementById('id_nome_produto').value;
        payload['validade'] = document.getElementById('id_validade').value;
        payload['codigo_produto'] = document.getElementById('id_codigo_produto').value;
        payload['valor'] = Number(document.getElementById('id_valor').value);
        payload['quantidade_estoque'] = document.getElementById('id_quantidade_estoque').value;
        payload['descricao'] = document.getElementById('id_descricao').value;
        payload['categoria'] = document.getElementById('id_categoria').value;
        payload['esgotado'] = document.getElementById('id_esgotado');
        let csrftoken = getCookie('csrftoken');
        
        if (payload['esgotado'].checked) {
            payload['esgotado'] = true;
        } else {
            payload['esgotado'] = false;
        }
    

        fetch('http://127.0.0.1:8000/api/produtos/', {
            method:"POST",
            headers:{
                "Content-Type":"application/json",
                "X-CSRFToken": csrftoken,
            },
            body:JSON.stringify(payload)
        }).then((res)=>res.json()).then((response)=> {
            clearFormData();

            getData();
        })
    }

    // edit Data
    function editData() {
        let formData = getFormData();

        let csrftoken = getCookie('csrftoken');

        fetch('http://127.0.0.1:8000/api/produtos/', {
            method: "PUT",
            headers:{
                "X-CSRFToken": csrftoken,
                "Content-Type":"application/json"
            },
            body:JSON.stringify(formData)
        }).then((res)=> res.json()).then((response) => {
            clearFormData();
        })
    }

   /*
    function createTd(id) {
        fetch(`http://127.0.0.1:8000/api/categoria/${id}`).then((response) => response.json()).then((data) => {
            console.log(data)
            var td  = "";
            td="<td>"+data.nome_categoria+"</td>";
            document.getElementById("tbData").innerHTML = td;
        });

        
    }
    */
    

    function deleteData(id) {
        confirm = confirm("Are you sure you want to delete this data");
        console.log(confirm)

        if (confirm) {
            let csrftoken = getCookie('csrftoken');

            fetch(`http://127.0.0.1:8000/api/produtos/${id}`, {
                method: "DELETE",
                headers: {'X-CSRFToken': csrftoken, 'Content-type': 'application/json' }
            }).then().then(
                (response)=>{
                    alert("Deletado")
                    getData();
                }
            )

            location.reload();
        }
        else {
            alert("Cancel delete")
            location.reload();
        }
        
    }
    

    // Function for get Data from API product
    function getData() {
        fetch("http://127.0.0.1:8000/api/produtos/").then(
            (res)=>res.json()
        ).then((response)=>{
            var tmpData  = "";

            response.forEach((product)=>{
                console.log(product);
                tmpData+="<tr>"
                tmpData+="<td>"+product.nome_produto+"</td>";
                tmpData+="<td>"+product.categoria+"</td>";
                tmpData+="<td><button class='btn btn-primary' onclick='editDataCall(`"+product.id+"`)'>Edit</button></td>";
                tmpData+="<td><button class='btn btn-danger' onclick='deleteData(`"+product.id+"`)'>Delete</button></td>";

                tmpData+="</tr>";
            })
            document.getElementById("tbData").innerHTML = tmpData;
        })     
    }

    getData();

</script>

{% endblock %}
