header {
    background: #BBBBBB; /* Cor de fundo */
    padding: 20px 0; /* Espaçamento interno de 20 px para cima e para baixo e 0 para direita e para esquerda */
}

.caixa {
    position: relative; /* Posicionamento relativo */
    width: 940px; /* Tamanho de largura */
    margin: 0 auto; /* margem de 0 na parte superior e automatico no lado direito e esquerdo */
}

nav {
    position: absolute; /* Posicionamento que coloca o elemento em absoluto movimento em relação a nosso ambiente, como nossa div de controle está relativo, ele vai ser absoluto em relação a ela */
    top: 110px; /* Espaçamento superior */
    right: 0px; /* Espaçamento a direita */
}

nav li {
    display: inline;/* Colocar para o elemento ficar do tamanho certo dele mesmo*/
    margin: 0 0 0 15px; /* Espaçamento externo */
}

nav a {
    text-transform: uppercase; /* Colocar tudo em letra maiuscula*/
    color: black; /* Cor das letras*/
    font-weight: bold; /* Peso das letras, bold coloca em negrito*/
    font-size: 22px;/* Tamanho da nossas letras*/
    text-decoration: none;/* Retirar o sublinhado da nossa tag a*/
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 940px; /* tamanho do nosso elemento */
    margin: 0 auto; /* margin de 0 para cima e para baixo e auto dos lados */
    padding: 50px 0; /* espaçamento interno */
}

.produtos li {
    display: inline-block; /* colocar os elementos em inline_block */
    text-align: center; /* colocar os itens alinhados ao meio */
    width: 30%; /* largura de 30% */
    vertical-align: top;/* alinhamento do componente ao topo */
    margin: 0 1.5%;/* margin de 0px de cima e baixo e espaçamento de 1.5% de lado */
    padding: 30px 20px;/* espaçamento interno */
    box-sizing: border-box;/* configuração para nosso espaçamento lateral esteja dentro do percentual*/
    border: 2px solid black;/* borda com 2px de largura, solida e de cor preta */
    border-radius: 10px;/* raio da nossa borda */
}

.produtos li:hover {
    border-color: #C78C19;  
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("../images/produtos_images/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 15px 8px;
}

