{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<section class="container col-6">
<div class="container">
    <form method="POST" enctype="multipart/form-data">

        <!-- Security token -->
        {% csrf_token %}

        <!-- Using the formset -->
        {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="h5">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                </div>
        {% endfor %}
        
        <input type="submit" value="Ok" class="btn btn-success mt-2">
    </form>
</div>
</section>
{% endblock %}