{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Gerenciamento de produtos</title>
       <link
            rel="stylesheet"
            href="{% static 'cssFiles/css/bootstrap.css' %}"
        />
        <link
            rel="stylesheet"
            href="{% static 'cssFiles/style.css' %}"
        /> 
        
        <script src="{% static 'cssFiles/js/bootstrap.min.js' %}"></script>  
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>    
    </head>
    <body>


          <div class="">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'index' %}">Home</a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav">
                            {% if user.is_authenticated %}
                                <a class="nav-link" href="{% url 'produtos' %}">Listar Produtos</a>
                                <a class="nav-link" href="{% url 'categoria' %}">Listar Categoria</a>
                                <a class="nav-link" href="{% url 'create_produto' %}">Adicionar Produto</a>
                                <a class="nav-link" href="{% url 'create_categoria' %}" >Adicionar Categoria</a>
                                <a class="nav-link" href="{% url 'view_produtos_api' %}" >Página produtos API</a>
                                <a class="nav-link" href="{% url 'view_categoria_api' %}" >Página Categoria API</a>
                                <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
                            {% else %}
                                <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a>
                                <a class="btn btn-primary mx-3" href="{% url 'cadastro' %}" role="button">Cadastrar Usuario</a>
                            {% endif %}
                        </div>
                        <form class="d-flex" action="{% url 'search' %}">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search product(s)" name="search">
                                <button type="button" class="btn btn-secondary"><i class="bi-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        {% block content %} {% endblock%}
    </body>
</html>
