{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Gerenciamento de produtos</title>
       <link
            rel="stylesheet"
            href="{% static 'cssFiles/bootstrap.css' %}"
        />
        <link
            rel="stylesheet"
            href="{% static 'cssFiles/style.css' %}"
        /> 
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <a class="btn btn-primary" href="{% url 'produtos' %}" role="button">Listar Produtos</a>
                <a class="btn btn-primary" href="{% url 'categoria' %}" role="button">Listar Categoria</a>
                <a class="btn btn-primary" href="{% url 'create_produto' %}" role="button">Adicionar Produto</a>
            </div>
        </div>

        {% block content %} {% endblock%}
    </body>
</html>
