{% extends 'index.html' %} {% block conteudo %}
<form action="{{url_for('apagarCategoria', id=id)}}" method="post">
    <h4>Categoria escolhida para apagar:</h1>
    <h5 class="box">{{ categoria }}</h5>
    <input type="hidden" id="userInput" name="userInput"> 
    <button type="submit" name="free_button" value="free_button" onClick="confirmBooking('{{ booking_slot }}')"> Apagar </button> 
</form>
<script>
    function confirmBooking(elem) {
        if(confirm('Tem certeza que deseja apagar essa Categoria?') == true) {
            //elem = 1;
            document.getElementById("userInput").value = "True";
        }
        else { 
             document.getElementById("userInput").value = "False";
             return 0;
        }          
    }
</script>
{% endblock %}