{% extends 'index.html' %} {% block conteudo %}
<form action="{{ url_for('mudar', id=id) }}" method="post">
    <fieldset>
        <div class="form-group">
            <label for="nome">Digite um nome:</label>
            <input type="text" id="nome" name="nome" class="form-control" value="{{ produto }}"/>
        </div>
        <!-- <div class="form-group">
            <label for="options">Selecione uma categoria:</label>
            <select name="options" id="">
                <option value="enlatados">enlatados</option>
                <option value="limpeza">limpeza</option>
                <option value="comida">comida</option>
                <option value="usaveis">usaveis</option>
            </select>
        </div> -->
        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
    </fieldset>
</form>
{% endblock %}